<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        SDN Client
      </a>
      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://gitlab.com/weftworks" target="_blank">
        <span class="icon">
          <i class="fa fa-gitlab"></i>
        </span>
        Project
      </a>
    </div>


  </div>
</nav>
