<app-top-navbar></app-top-navbar>

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">

      <h1 class="title">
        SDN showcase
      </h1>

      <h2 class="subtitle">
        Subtitle
      </h2>

    </div>
  </div>
</section>

<section class="section">
  <div class="tile is-ancestor">

    <div class="tile is-parent is-8">
      <div class="container box notification">
        <p class="title">Left tile</p>
        <div class="content">
          Content
        </div>
      </div>
    </div>

    <div class="tile is-parent is-4 is-vertical">

      <div class="tile box">
        <div class="container">
          <app-login-form></app-login-form>
        </div>
      </div>

      <div class="tile box">
        <div class="container">
          <app-registration-form></app-registration-form>
        </div>
      </div>
      
    </div>

  </div>
</section>
